.home__container {
  min-height: calc(100vh - 92px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 992px) {
  .col2__wrapper {
    display: none !important;
  }
}
