@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");
:root {
  --main-color: #2f69ee;
  --light-one: #ffffff;
  --dark-one: #000000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
}
header,
.home__container,
.about__container,
.cta__container,
.cto__container,
.steps__container,
.footer__container {
  padding: 0 4rem;
}
